/* styles.css */

.App {
    /* Fallback for browsers that don't support gradients */
    background-color: black; /* Fallback color is black */
    background: linear-gradient(to bottom, black 70%, rgb(226, 50, 188) 100%);
    /* Ensure the gradient covers the entire viewport */
    height:100svh;
    margin: 0;
    /* Optional: Additional styling */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}
